* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
    display: flex;
    gap: 20px;
    padding: 0 100px;
}
.esquerda{
    flex: 1;
}
.direita{
    width: 450px;
}
body {
  background-color: #f9f8fe;
}
h1 {
    padding: 70px 0 50px 100px;
}
h6 {
  position: relative;
  font-weight: 700;
  font-size: 13px;
}
label {
  font-size: 13px;
  font-weight: 700;
}
.borda {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  margin: 20px 0 20px 0;
}
.info-pessoal {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 538px;
  justify-content: space-around;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #fff;
}
.info-pessoal input {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f9f8fe;
  padding: 0 0 0 20px;
}
.info-entrega {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 647px;
  justify-content: space-around;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.info-entrega input {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f9f8fe;
  padding: 0 0 0 20px;
}
.info-pagamento {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 515px;
  justify-content: space-around;
  /* align-items: flex-start; */
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.input50 {
  display: flex;
  justify-content: space-between;
}
#radio1 {
  text-align: center;
  width: 14px;
  height: 14px;
}
#radio2 {
  width: 14px;
  height: 14px;
}
.inputRadio {
  display: flex;
  gap: 20px;
  /* margin: 30px 0 30px 0; */
}

#nome-cart {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f9f8fe;
  padding: 0 0 0 20px;
}
#Ncartao {
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f9f8fe;
  padding: 0 0 0 20px;
}
#Vcartao {
  display: flex;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f9f8fe;
  padding: 0 0 0 20px;
}
#cvv {
  display: flex;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: #f9f8fe;
  padding: 0 0 0 20px;
}
.finalizar-compra {
  position: relative;
  width: 100%;
  height: 248px;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
}
.finalizar-compra p {
  color: #8f8f8f;
  text-align: end;
  width: 100%;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total p {
  color: #ee4266;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}
.finalizar-compra button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  color: white;
  background-color: #f6aa1c;
  font-size: 16px;
  letter-spacing: 1px;
}
.borda2 {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
}
.resumo {
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  display: flex;
  width: 100%;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.s {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.f {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.d {
  width: 100%;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.fundo {
  width: 408px;
  height: 100px;
  border-radius: 4px;
  background-color: #f6aa1c12;
  border: 1px solid #f6aa1c30;
}
.img {
    width: 408px;
    height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
  /* align-self: stretch; */
}
.total-resumo {
  display: flex;
  padding: 20px 0 20px 20px;
  width: 368px;
  height: 36px;
  justify-content: space-between;
}
.total-resumo p {
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0.75px;
}
#p {
  color: #8f8f8f;
  text-align: end;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  padding: 10px 40px 0 0;
}
.resumo button {
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #f6aa1c;
  border-radius: 8px;
}
